<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css" />
    <title>Homepage</title>
</head>
<body>
    <div id = "navbar">
        <div id = "welcome">
            <h1>Welcome!</h1>
        </div>
        <div id = "links">
            <a href = "about.html">About</a>
            <a href = "works.html">Works</a>
            <a href = "">Photos</a>
        </div>
    </div>
    <div id = "artist-image">
        <img src="/images/artist-image.webp" />
    </div>
    <footer>
        <p>All rights reserved</p>
    </footer>
    
</body>
</html>